body {
    font-family: Arial;
    margin: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.formulario {
    text-align: center;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: #007BFF;
    color: white;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #333;
    color: white;
}